@{
    ViewBag.Title = "Acceso Denegado";
}
<div class="container">
    <h1>Acceso Denegado</h1>
    <p>No tienes permisos para acceder a esta sección. Si crees que esto es un error, contactá con el administrador.</p>
    <a href="/">Volver al inicio</a>

    <img style="width: 100%" src="~/images/403.jpg" alt="Unauhtorized" />
</div>
